/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.02.2016, 14:52:51
    Author     : Shark
*/
@CHARSET "UTF-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #e1e8b9;
    font-family: "Verdana" , sans-serif;
    font-size: 14px;
}

textarea {
   resize: none;
   width: 100%;
   height: 100%;
   border: none;
}

h2 {
    font-size: 14px;
}
.carcass {
    margin: 0 auto;
    width: 70%;
}

.iframe-content {
    width: 100%;
}

.clr {
    overflow: hidden;
}

.tools {
    position:fixed;
    top: 0;
    left: 50%;
    margin-left: -35%;
    width: 70%;
    background-color:#db7d60;
    list-style-type: none;
    overflow: hidden;
}
.tools li{  
  text-align: center;
  font-size: 12px;
  padding: 2px 4px;
  float: right;
  width: 70px;
  height: 35px;
  line-height: 35px;
}

.tools li:hover {
  cursor: pointer;
}

.red-bg , .tools li{
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  background-color: #db7d60;
  color: white;
}
.red-bg:hover , .tools li:hover{
    transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: #e8421c;
}

.columns {
    margin-top: 35px;
    overflow: hidden;
    background-color: #fff;
    min-height: 570px;
}
.forms {
    position: fixed;
    top: 40px;
    left:85%;
    margin-left: -23%;
    width: 20%;
    background-color: #fff;
}
.information , .notes{
    width: 65%;
    padding: 7px;
    margin-bottom: 15px;
    border-right: #bfd79e dashed 1px;
}
.red, .black {
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.redOnHover:hover, .blackOnHover:hover {
  transition-property: color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.red {
    color: #faf5f5;
}
.redOnHover:hover {
  color: #e8421c;
}

.white {
    color: #f7f7f7;
}

.align-centr {
    width: 15px;
    display: block;
    margin: 0 auto;
}

.blackOnHover:hover {
  color: #000;
}

a.submit {
    display: block;
    float: right;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 27px;
}
.form-box {    
    padding: 7px;
    border-bottom: #e1e8b9 solid 1px;
    font-size: 12px;
    overflow: hidden;
}

.form-box h2 {
    font-size: 14px;
    margin-bottom: 7px;
}

.form-box h3, .notes h3{
    font-size: 12px;
    margin-bottom: 3px;
}
form input{
    
    height: 15px;
    line-height: 15px;
    padding-left: 3px;
    font-size: 12px;
    margin-bottom: 7px;
}

form input[type = text] {
    width: 100%;
}

table {
    cellspasing: 0;
    cellpadding: 0;
    width: 100%;
    margin-bottom: 10px;
}

table, form, textArea, .notes{
    font-family: "Times New Roman" , serif;
}

th.tableHeader {  
    font-size: 16px;
    border-bottom: #e1e8b9 solid 1px;
}

table th, .notes h2 {
    font-style: normal;
    text-align: center;
    background-color: #bfd79e;
    color: #fff;    
    height: 30px;
    line-height: 30px;
}

table td {
    text-align: inherit;
    padding: 3px;
    border-bottom: #e1e8b9 dotted 1px;
}

table.border-none td {
    border: none;
}

table .icon{
    width: 20px;
}

.uhtable-box {
    height: 80px;
    max-height: 80px;
    overflow-y: scroll;
}

.uhtable-box table th, .uhtable-box table td {
    text-align: left;
    padding: 3px;
    font-size: 8px;
    line-height: 20px;
    height: 20px;
}

.non-border-left {
    border-left: none !important;
}



.note-col {
    float: left;
    width: 50%;
    height: auto;
}

.notes form{
    padding: 7px;
    margin: 4px;
}

#admin-content {
    padding: 7px;
}
.notes select {
    width: 100%;
}
.notes .submit {
    float: none;
    margin: 3px auto;
}
.footer {
    background-color: #db7d60;
    width: 100%;
    height: 30px;
}


